:root {
    --primary-color: #0092ca;
    --text-color: #333;
    --ratio-font-size: 2vw;
    --primary-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 450px) {
    :root {
        --ratio-font-size: 3vw;
    }
}

body {
    margin: 0;
    font-family: var(--primary-font);
    color: var(--text-color);
    font-size: var(--ratio-font-size);
    color: var(--text-color);
}

.hero {
    width: 70vw;
    height: 95vh;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero span {
    color: var(--primary-color);
}

hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px dashed #ddd;
}

.footer {
    width: 80vw;
    height: 5vh;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}